**Assignment 5**

**1. Employee Salary Increment**

A company gives a 5% yearly increment to an employee’s salary. Write a for loop to calculate the employee’s salary for the next 10 years starting from ₹50,000.

In [1]:
salary = 50000
for i in range (1,11):
  salary += salary * 0.05
  print(f"year {i}: ₹{salary:.2f}")

year 1: ₹52500.00
year 2: ₹55125.00
year 3: ₹57881.25
year 4: ₹60775.31
year 5: ₹63814.08
year 6: ₹67004.78
year 7: ₹70355.02
year 8: ₹73872.77
year 9: ₹77566.41
year 10: ₹81444.73

**2. Class Attendance Percentage**

A student attended 18 out of 25 classes. Write a for loop to calculate and display the attendance percentage for each class attended (like running count).

In [2]:
classes = 25
attended = 18
for i in range(1, classes+1):
    attended=(i/classes)*100
    print(f"class {i}: {attended:.0f}%")

class 1: 4%
class 2: 8%
class 3: 12%
class 4: 16%
class 5: 20%
class 6: 24%
class 7: 28%
class 8: 32%
class 9: 36%
class 10: 40%
class 11: 44%
class 12: 48%
class 13: 52%
class 14: 56%
class 15: 60%
class 16: 64%
class 17: 68%
class 18: 72%
class 19: 76%
class 20: 80%
class 21: 84%
class 22: 88%
class 23: 92%
class 24: 96%
class 25: 100%

**3. Product Discount Prices**

A store applies a 10% discount on all products. Given a list of original prices [100, 250, 400, 560, 700], use a for loop to calculate and print the discounted prices.

In [3]:
price=[100,250,400,560,700]
discount=0.10
for i in price:
  discounted_price =i*(1-discount)
  print(f"price:{i},discounted:{discounted_price:.2f}")

price:100,discounted:90.00
price:250,discounted:225.00
price:400,discounted:360.00
price:560,discounted:504.00
price:700,discounted:630.00

**4. Monthly Savings Growth**

A person saves ₹1,000 every month. Write a for loop to calculate and display the total savings at the end of each month for 12 months.

In [4]:
savings = 1000
for i in range(1,13):
  savings += 1000
  print(f"month {i}: ₹{savings:.2f}")

month 1: ₹2000.00
month 2: ₹3000.00
month 3: ₹4000.00
month 4: ₹5000.00
month 5: ₹6000.00
month 6: ₹7000.00
month 7: ₹8000.00
month 8: ₹9000.00
month 9: ₹10000.00
month 10: ₹11000.00
month 11: ₹12000.00
month 12: ₹13000.00

**5. Electricity Bill Calculation**

The electricity cost is ₹5 per unit. If a household consumes [120, 135, 150, 160, 145] units over 5 months, use a for loop to calculate the bill for each month.

In [5]:
consumes=[120,135,150,160,145]
for i in range(1,6):
  bill=consumes[i-1]*5
  print(f"month {i}: ₹{bill:.2f}")

month 1: ₹600.00
month 2: ₹675.00
month 3: ₹750.00
month 4: ₹800.00
month 5: ₹725.00

**6. Student Marks Percentage**

A student scored marks in 5 subjects: [78, 85, 90, 66, 72]. Use a for loop to calculate the percentage (out of 100) for each subject.

In [6]:
marks=[78, 85, 90, 66, 72]
for i in marks:
  percentage=(i/100)*100
  print(f"{i} the % is {percentage:.2f}")

78 the % is 78.00
85 the % is 85.00
90 the % is 90.00
66 the % is 66.00
72 the % is 72.00