**Assignment 6 (15/09/2-25) while loop**

**1. Employee Salary Increment**

A company gives a 5% yearly increment to an employee’s salary. Write a for loop to calculate the employee’s salary for the next 10 years starting from ₹50,000.

In [ ]:
salary = 50000
year = 1
while year <= 10:
    salary += salary * 0.05
    print(f"Year {year}: ₹{salary:.2f}")
    year += 1

Year 1: ₹52500.00
Year 2: ₹55125.00
Year 3: ₹57881.25
Year 4: ₹60775.31
Year 5: ₹63814.08
Year 6: ₹67004.78
Year 7: ₹70355.02
Year 8: ₹73872.77
Year 9: ₹77566.41
Year 10: ₹81444.73

**2. Class Attendance Percentage**

A student attended 18 out of 25 classes. Write a for loop to calculate and display the attendance percentage for each class attended (like running count).

In [5]:
classes = 25
attended = 0
current_class = 1

while current_class <= classes:
    # Simulate attending each class
    if current_class <= 18:
        attended += 1

    percentage = (attended / current_class) * 100
    print(f"Class {current_class}: Attendance = {percentage:.2f}%")
    current_class += 1

Class 1: Attendance = 100.00%
Class 2: Attendance = 100.00%
Class 3: Attendance = 100.00%
Class 4: Attendance = 100.00%
Class 5: Attendance = 100.00%
Class 6: Attendance = 100.00%
Class 7: Attendance = 100.00%
Class 8: Attendance = 100.00%
Class 9: Attendance = 100.00%
Class 10: Attendance = 100.00%
Class 11: Attendance = 100.00%
Class 12: Attendance = 100.00%
Class 13: Attendance = 100.00%
Class 14: Attendance = 100.00%
Class 15: Attendance = 100.00%
Class 16: Attendance = 100.00%
Class 17: Attendance = 100.00%
Class 18: Attendance = 100.00%
Class 19: Attendance = 94.74%
Class 20: Attendance = 90.00%
Class 21: Attendance = 85.71%
Class 22: Attendance = 81.82%
Class 23: Attendance = 78.26%
Class 24: Attendance = 75.00%
Class 25: Attendance = 72.00%

**3. Product Discount Prices**

A store applies a 10% discount on all products. Given a list of original prices [100, 250, 400, 560, 700], use a for loop to calculate and print the discounted prices.

In [ ]:
price=[100, 250, 400, 560, 700]
discount=0.10
i=0
while i < len(price):
  discounted_price = price[i] * (1 - discount)
  print(f"price:{discounted_price:.2f}")
  i += 1

price:90.00
price:225.00
price:360.00
price:504.00
price:630.00


**4. Monthly Savings Growth**

A person saves ₹1,000 every month. Write a for loop to calculate and display the total savings at the end of each month for 12 months.

In [ ]:
saving = 1000
month = 1
total_saving=0
while month <= 12:
  total_saving += saving
  print(f"month {month}: ₹{total_saving:.2f}")
  month += 1

month 1: ₹1000.00
month 2: ₹2000.00
month 3: ₹3000.00
month 4: ₹4000.00
month 5: ₹5000.00
month 6: ₹6000.00
month 7: ₹7000.00
month 8: ₹8000.00
month 9: ₹9000.00
month 10: ₹10000.00
month 11: ₹11000.00
month 12: ₹12000.00

**5. Electricity Bill Calculation**

The electricity cost is ₹5 per unit. If a household consumes [120, 135, 150, 160, 145] units over 5 months, use a for loop to calculate the bill for each month.

In [6]:
consumes=[120, 135, 150, 160, 145]
month = 1
while month <= 5:
    bill = consumes[month - 1] * 5
    print(f"month {month}: ₹{bill:.2f}")
    month += 1

month 1: ₹600.00
month 2: ₹675.00
month 3: ₹750.00
month 4: ₹800.00
month 5: ₹725.00

**6. Student Marks Percentage**

A student scored marks in 5 subjects: [78, 85, 90, 66, 72]. Use a for loop to calculate the percentage (out of 100) for each subject.

In [ ]:
marks=[78,85,90,66,72]
i=0
while i < len(marks):
  percentage=(marks[i]/100)*100
  print(f"subject {i+1} the % is {percentage:.0f}")
  i += 1

subject 1 the % is 78
subject 2 the % is 85
subject 3 the % is 90
subject 4 the % is 66
subject 5 the % is 72